
.heading{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.678);
    margin: 40px auto;
  
}

.heading p {
    font-size: 20px;
}
.heading h1{
    font-size: 30px;
}